<%- include('header', {index: `${data.index}`, title: `${data.title}`, username: `${data.username}`}) -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1"></script>
<script src="/static/chart.js" defer></script>

<style>
</style>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="home-tab"
      data-bs-toggle="tab"
      href="#home"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      Home
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      href="#profile"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
    >
      Statistics
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="contact-tab"
      data-bs-toggle="tab"
      href="#contact"
      role="tab"
      aria-controls="contact"
      aria-selected="false"
    >
      Bests
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- Home Tab -->
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <div class="container-fluid">
      <div class="row p-3">
        <div class="col-4">
          <div class="d-flex row align-items-center">
            <div class="col-1 "><i class="fas fa-trophy"></i></div>
            <div class="col-10"<strong>Events</strong></div>
            <div class="col-1"></div>
          </div>
          <hr>
          <div class="d-flex row align-items-center" >
            <br>
            <div class="col-2 d-flex align-items-center" style="min-height:100px;">
              <i class="fas fa-award p-3" style="font-size: 2rem"></i>
            </div>
            <div class="col-10">What are you training for</div>
          </div>
          <div class="row">
            <div class="col-1"><i class="fas fa-check"></i></div>
            <div class="col-10">Goals</div>
            <div class="col-1"></div>
            <hr>
          </div>
          
          <div class="row">Stay on Track by adding your training goals</div>
          <div class="row">

            <div id="todocontainer">
              <% JSON.parse(data.todolist).forEach( x => { %> 
              <div class="row"> 
                <div class="col-11">- <%- x.todo %></div> 
                <div class="col-1">
                  <button type="button removetodo" class="btn btn-light" id="<%- x.id %>">
                    <span><i class="far fa-trash-alt"></i></span>
                </div>
              </div>
              <% }) %>
            </div>
            
            <div class="list-group" id="todolist">
              <form id="todoform">
                <label class="list-group-item">
                  <div class="row">
                    <div class="col-9"><input type="text" class="form-control" value="" style="border:none;" id="input"></div>
                    <div class="d-flex col-3 justify-content-center align-items-center">
                      <button type="button" class="btn btn-light" id="createtodo"><span><i class="fas fa-plus"></i></span></button>
                      <span style="margin-left:10px">   </span>
                    </div>
                  </div>
                </label>
              </form>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="d-flex row align-items-center">
            <div class="col-1"><i class="far fa-calendar-times"></i></div>
            <div class="col-10">Today</div>
            <div class="col-1"></div>
          </div>
          <hr>
          <div class="d-flex row align-items-center">
            <div class="col text-center" id="todayworkout">
              <div class="row">
              <div class="list-group">
                 <% if(data.todaydata.length === 0) {%>
                  You have no scheduled workouts today
                  <% } else { %>
                  <% data.todaydata.forEach( trg => { %> 
                  <a
                    href="#"
                    class="list-group-item list-group-item-action"
                    aria-current="true"
                  >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><strong><%= trg.title %> </strong> | <%= trg.timetaken %> | <%= trg.distance %>km   </h5>
                      <small><%= trg.activitytype %> </small>
                    </div>
                    <p class="mb-1"><%= trg.description %> </p>
                    <small> Avg HR <%= trg.avghr %> | Avg Pace <%= trg.avgpace %>km/h  </small>
                  </a>
                </div>
              <% }) %>
              <% } %> 
            </div>
            <br>
          </div>
          
          <div class="d-flex row align-items-center">
            <div class="col-1"><i class="far fa-calendar-alt"></i></div>
            <div class="col-10">Tomorrow</div>
            <div class="col-1"></div>
          </div>
          <hr>
          <div class="d-flex row align-items-center">
            <div class="col text-center" id="tmlworkout">You have no scheduled workouts tomorrow</div> </div>
        </div>
        </div>
        

        <div class="col-4">
          <div class="d-flex row align-items-center">
            <div class="col-1"><i class="far fa-calendar-times"></i></div>
            <div class="col-10">All-time Statistics</div>
            <div class="col-1"></div>
          </div>
            <hr>
          <div class="d-flex row flex-row justify-content-center align-items-center">
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                <div class="card-header">All-time Distance</div>
                <div class="card-body">
                  <h4 class="card-title"><%= data.alltimedistance %>km </h4>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                  <div class="card-header">All-time Duration</div>
                  <div class="card-body">
                    <h4 class="card-title"><%- Math.round(data.alltimeduration / 60 / 60) %>hrs </h4>
                  </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                <div class="card-header">All-time Avg HR</div>
                <div class="card-body">
                  <h4 class="card-title"><%- Math.round(data.alltimeavghr) %> </h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="d-flex row align-items-center">
              <div class="col-1"><i class="far fa-calendar-times"></i></div>
              <div class="col-10">This Month's Statistics</div>
              <div class="col-1"></div>
            </div>
            <hr>
          <div class="d-flex row flex-row justify-content-center align-items-center">
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                <div class="card-header">This Month's Total Activities</div>
                <div class="card-body">
                  <h4 class="card-title"><%= data.thismonthactivity %> </h4>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                  <div class="card-header">This Month's Calories Burnt</div>
                  <div class="card-body">
                    <h4 class="card-title"><%- Math.round(data.thismonthcalories) %>kcal </h4>
                  </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="card border-secondary mb-3">
                <div class="card-header">This Month's Duration Clocked</div>
                <div class="card-body">
                  <h4 class="card-title"><%- Math.round(data.thismonthduration / 60 / 60) %>hrs </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Stats Tab -->
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div
      class="chart-container"
      style="position: relative; height: 40vh; width: 40vw"
    >
      <canvas id="testchart"></canvas>
      <div
        class="modal fade"
        id="exampleModalToggle"
        aria-hidden="true"
        aria-labelledby="exampleModalToggleLabel"
        tabindex="-1"
      >
      </div>
    </div>
  </div>

  <!-- Bests Tab -->
  <div
    class="tab-pane fade"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    <!-- todo: get the longest distance clocked -->
    <!-- todo: get the highest heart rates -->
    <!-- todo: get the highest calories in an activity -->
  </div>
</div>

<script>

  window.addEventListener("load", () => {
    const todocontainer = document.getElementById('todocontainer');
    const todolist = document.getElementById('todolist');
    const todoform = document.getElementById('todoform');
    const createtodo = document.getElementById('createtodo');
    

    createtodo.addEventListener("click",()=> {
    
      axios({
        method: "post",
        headers: {
              'Content-Type': 'application/json',
            },
        url: '/athlete/<%=data.index%>/dashboard/todo',
        data: {'todo': document.getElementById('input').value}
      })
        .then( (response) => {
          //handle success
          todocontainer.innerHTML+=`<div class="row"> 
                <div class="col-11">- ${response.data[0].todo}</div> 
                <div class="col-1">
                  <button type="button removetodo" class="btn btn-light" id="${response.data[0].id}">
                    <span><i class="far fa-trash-alt"></i></span>
                </div>
              </div>`
          
          console.log(response);
        })
        .catch( (response) => {
          //handle error
          console.log(response);
        });
    })

    const removetodo = document.getElementsByClassName('removetodo');

    removetodo.forEach( (bin) => {
      
      bin.addEventListener("click",(ev)=> {
    
      axios({
        method: "delete",
        headers: {
              'Content-Type': 'application/json',
            },
        url: '/athlete/<%=data.index%>/dashboard/todo',
        data: {'id': ev.target.id}
      })
        .then( (response) => {
          //handle success
          document.getElementById(response.data[0].id).remove();
        })
        .catch( (response) => {
          //handle error
          console.log(response);
        });
    })
  })

    const todayworkout = document.getElementById('todayworkout');
    

    const testChart = new Chart(document.getElementById("testchart"), {
      type: "line",
      data: {
        datasets: [
          {
            label: "My First dataset",
            backgroundColor: "rgb(255, 99, 132)",
            borderColor: "rgb(255, 99, 132)",
            data: <%- JSON.stringify(data.caloriebysport) %>,
          }
        ],
      },
      options: {
        // scales: {
        //   x: {
        //     type: "time",
        //     time: {
        //       unit: "day",
        //     },
        //   },
        //   y: {
        //     ticks: {
        //       stepSize: 10.0,
        //     },
        //   },
        // },
        parsing: {
          // xAxisKey: "date",
          // yAxisKey: "distance",
        },
      },
    });
});



</script>
